{% extends 'base.html' %}
{% block main %}
<h1 class="page-title">About Me</h1>
<article class="post">
	<div class="entry-content clearfix">
		<figure class="img-responsive-center">
			<!--<img class="img-responsive" src="./jjsang.jpeg" alt="Developer Image">-->
		</figure>
		<p>You want to know about me? Never complain about what has happened, or change it, or accept it quiet. Only when you rely on your own efforts,could you get the real partners. Every story has an end, but in life, every end is a new beginning.Confidence doesn't need any specific reason. If you're alive , you should feel 100 percent confident.</p>
		<p>It is habit which is able to be developed rather than love and it is touch which can be obtained as time goes by rather than affection. If I had a single flower for every time I think about you, I could walk forever in my garden.She who has never loved, has never lived.Precious things are very few in this world. That is the reason there is just one you.</p>
		<div class="height-40px"></div>
		<h2 class="title text-center">Social</h2>
		<ul class="social">
			<li class="facebook"><a href="#"><span class="ion-social-facebook"></span></a></li>
			<li class="twitter"><a href="#"><span class="ion-social-twitter"></span></a></li>
			<li class="google-plus"><a href="#"><span class="ion-social-googleplus"></span></a></li>
			<li class="tumblr"><a href="#"><span class="ion-social-tumblr"></span></a></li>
		</ul>
	</div>
</article>
{% endblock main %}

